@font-face {
font-family: 'Gotham Book';
font-style: normal;
font-weight: normal;
src: local('Gotham Book'), url('GothamBook.woff') format('woff');
}

@media only screen  
  and (max-device-width: 768px) {
    .values{
    width: 100% !important;
}
  }
.values{
    float: right; 
    width: 50%;
}
.top-headings{
    font-family: "Gotham Book" !important;
    margin-bottom: 0px !important;
    color: #333;
}
.small-headings{
  font-family: "Gotham Book",Sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0.48px;
  text-align: left;
  color: #c0c0c0;
  margin-top: 0px;
}
table{
    border: none !important;
}

.list-hundred-container{
    background-color: #f9fafc;
    padding-bottom: 90px;
}

.upper-crypto-calculations{
font-family: "Gotham Book"!important;
}

.list-hundred{
    width: 90% !important;
    max-width: 90% !important;
    margin: 0 auto;
    background: #fff;
    border-collapse: collapse;
    font-size: 16px!important;
    font-family: Gotham Book!important;
    border-left: none !important;
    border-radius: 10px;
    box-shadow: 0px 10px 25px 7px rgba(49, 121, 255, 0.05);
}

.list-hundred thead tr td {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6 !important;
    font-weight:600;
    padding: 30px 0px !important;
}

.list-hundred tbody tr td{
    border-top: 1px solid #dee2e6 !important;
}

.list-hundred thead tr td{
    border-top: none !important;
    text-transform: capitalize;
}


.list-hundred td, .list-hundred th {
    
    vertical-align: inherit !important;
    border-left: none;
    line-height: 44px;
    border-bottom: none;
    border-right: none;
    padding: 10px !important;
    
}

.small, small {
    font-size: 85%;
    font-weight: 400;
}

.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}

.text-muted {
    color: #8194A5 !important;
}

.ml-2, .mx-2 {
    margin-left: 2.5rem!important;
    
}

.mt-auto, .my-auto {
    margin-top: auto!important;
}

.mb-auto, .my-auto {
    margin-bottom: auto!important;
    
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.no-underline {
    text-decoration: none !important;
}
/*.entry-content{
    margin: 0px auto !important;
    width: 90% !important;
    padding:0px !important;
    max-width: 100% !important;
}*/

.h0 {
    margin-bottom: 0!important;
    font-size: 17px!important;
    text-transform: uppercase!important;
}

.btn-without-link {
    font-weight: 400!important;
    color: #111!important;
    text-decoration: none!important;
    margin-top: 11px!important;
}

.btn-link {
    font-weight: 400!important;
    color: #007bff!important;
    text-decoration: none!important;
    margin-top: 11px!important;
}

.btn-link:hover {
    color: #0056b3 !important;
    text-decoration: underline !important;
}
h1:not(.site-title):before, h2:before{
    display: inline !important;
}

.text-right {
    text-align: right!important;
}

.text-center{
    text-align: center!important;
}

.full-width-crypto{
    width: 100%;
    max-width: 100% !important;
}
.half-width-crypto{
    width: 50%;
}

.graph-outer{
    width: 66%;
    margin: 0 auto;
    padding-bottom: 2%;
    background-color: #fff;
    background-clip: border-box;
    /*border: 1px solid rgba(0,0,0,.125);*/
    border-radius: 15px;
    box-shadow: 0px 10px 25px 7px rgba(49, 121, 255, 0.05);
}

#chartContainer{
    /* height: 485px !important; */
    /* width: 100% !important; */
    margin: 0 auto;
    padding-left: 1.5%;
}

.range-outer{
    width: 100%;
    margin: 8px auto;
}

.range-outer ul{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: flex-end!important;
    font-size: 16px;
    padding-right: 2%;
}

.range-outer ul li{
    margin-left: 2%;
    cursor:pointer;
}

.range-outer ul li:hover{
    text-decoration: underline;
}

.range-buttons > .active{
    color: #007bff !important;
    
  }

.canvasjs-chart-credit{
    display: none !important;
}

.crypto-block{
    float: left;
    width: 15%;
    margin-left: 1%;
}

.crypto-block span{
    font-weight: bold;
}

.upper-stats{
    height: 120px;
    text-align: center;
    padding: 1em 0 1em 0;
    border-bottom: 1px solid #dee2e6a1 !important;
    font-family: "Gotham Book"!important;
}

.h4, h4 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.5;
}

.cryto-coin-title{
    width: 62% !important;
    margin: 0 auto;
}

.align-items-baseline {
    -ms-flex-align: baseline!important;
    align-items: baseline!important;
}

.taitle{
    margin-bottom: 5%;
}


.taitle h2{
  
    font-weight: 400;
   }

.currencysymbol{
    font-size: 75%;
}

.d-flex h2{
    margin-bottom: 0px !important;
}

.graph-header{
    font-size: 18px !important;
    font-weight: 500 !important;
    font-family: Gotham Book !important;
    line-height: 1.81 !important;
    letter-spacing: 0.32px !important;
}

.my-auto img{
    width: 10%;
    margin-left: 5%;
}

.chart-container{
    position: relative; 
    height:auto; 
    width:auto; 
    margin: auto;
}

/*------------------------------------*/
.mainn {
    overflow:auto; 
    width: 100%;
    background-color: #fff;
}
.roww {
    box-shadow:none;
    overflow:auto; 
    clear:both;
    width:250%;
    position:relative;
    box-sizing:border-box;
}
.tp-ten {
    box-shadow:none;
    overflow:auto; 
    clear:both;
    width:250%;
    position:relative;
    box-sizing:border-box;
}
.contentt {
    float:left;
    width:150px;
    border:1px solid black;
}
/* .stickyy {
    right: 160px;
    position: fixed;
    left: 0px !important;
} */
.stickyy {
    /* float:left; */
    border: 0px !important;
    border-right: 1px solid #DEE2E6 !important;
}
/* .stickyy {
    
    position:absolute; left:0; top:0;
} */
.contentt {
    background-color: inherit;
    box-shadow: none;
}

.serial {
    width: 45px !important;
}

.stickyy table tr .ml-2{
    margin-left: 2px !important;
}

.contentt table td{
    width: 10%;
}

.contentt tr .ml-2{
    margin-left: 0px !important;
}
.list-hundred td {
    line-height: 18px;
    /*width: 1%;*/
}
.mainn{
    display: none;
}
.desktop{
    display: block;
}
.roww{
    width: 100% !important;
}

@media only screen 
and (min-device-width : 1025px) 
and (max-device-width : 2560px)  { /* STYLES GO HERE */
    .list-hundred td {
        width: 1%;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { /* STYLES GO HERE */
    .roww{
        width: 124% !important;
    }
    .tp-ten{
        width: 100%;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px)  { /* STYLES GO HERE */
    .roww{
        width: 282% !important;
    }
    .tp-ten{
        width: 166%;
    }
    .taitle .crypto-thumb{
        width: 13%;
    }
    .taitle h2{
        font-size: 150%;
    }
    .taitle .text-muted{
        font-size: 120% !important;
    }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px)  { /* STYLES GO HERE */
    .main-title{
        width: 100%;
        text-align: center;
    }
    .main-title p.small-headings{
        text-align: center;
    }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 1024px)  { /* STYLES GO HERE */
    .mainn{
        display: block;
    }
    .desktop{
        display: none;
    }
    .crypto-block{
        width: 49%;
    }
    .graph-outer{
        width: 86%;
    }
    .cryto-coin-title{
        width: 86% !important;
    }
    .upper-stats{
        display: inline-block;
        height: auto;
        text-align: left;
        padding-left: 10px;
        width: 100%;
    }
    .upper-stats .crypto-block{
        margin-bottom: 20px;
    }
    .crypto-block .my-auto{
        font-size: 100%;
    }
    .my-auto img {
        width: 5%;
        margin-left: 2%;
    }
}


.numbered thead tr td{
    padding-right: 4% !important;
}

.numbered tbody tr td{
    padding-right: 4% !important;
}