@media only screen  
  and (max-device-width: 768px) {
    .values{
    width: 100% !important;
}
  }
.values{
    float: right; 
    width: 50%;
}
.top-headings{
    font-family: "GothamRounded Light",Sans-serif !important;
    margin-bottom: 0px;
    color: #333;
}
.small-headings{
  font-family: "GothamRounded Light",Sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0.48px;
  text-align: left;
  color: #c0c0c0;
  margin-top: 0px;
}
table{
    border: none !important;
}

.list-hundred-container{
    background-color: #f9fafc;
    padding-bottom: 90px;
}

.upper-crypto-calculations{

}

.list-hundred{
    width: 90% !important;
    max-width: 90% !important;
    margin: 0 auto;
    background: #fff;
    border-collapse: collapse;
    font-size: 18px!important;
    border-left: none !important;
    border-radius: 10px;
    box-shadow: 0px 10px 25px 7px rgba(49, 121, 255, 0.05);
}

.list-hundred thead tr td {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6 !important;
    font-weight:600;
    padding: 8px 0px !important;
}

.list-hundred tbody tr td{
    border-top: 1px solid #dee2e6 !important;
}

.list-hundred thead tr td{
    border-top: none !important;
}


.list-hundred td, .list-hundred th {
    
    vertical-align: inherit !important;
    border-left: none;
    border-bottom: none;
    border-right: none;
    padding: 0px !important;
    
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}

.text-muted {
    color: #8194A5 !important;
}

.ml-2, .mx-2 {
    margin-left: 2.5rem!important;
    
}

.mt-auto, .my-auto {
    margin-top: auto!important;
}

.mb-auto, .my-auto {
    margin-bottom: auto!important;
    
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.no-underline {
    text-decoration: none !important;
}
.entry-content{
    margin: 0px auto !important;
    width: 90% !important;
    padding:0px !important;
    max-width: 100% !important;
}

.h0 {
    margin-bottom: 0!important;
    font-size: 18px!important;
    text-transform: uppercase!important;
}

.btn-without-link {
    font-weight: 400!important;
    color: #111!important;
    text-decoration: none!important;
    margin-top: 11px!important;
}

.btn-link {
    font-weight: 400!important;
    color: #007bff!important;
    text-decoration: none!important;
    margin-top: 11px!important;
}

.btn-link:hover {
    color: #0056b3 !important;
    text-decoration: underline !important;
}
h1:not(.site-title):before, h2:before{
    display: inline !important;
}

.text-right {
    text-align: right!important;
}

.text-center{
    text-align: center!important;
}

.full-width-crypto{
    width: 100%;
    max-width: 100% !important;
}
.half-width-crypto{
    width: 50%;
}

.graph-outer{
    width: 62%;
    margin: 0 auto;
    padding-bottom: 2%;
    background-color: #fff;
    background-clip: border-box;
    /*border: 1px solid rgba(0,0,0,.125);*/
    border-radius: .25rem;
    box-shadow: 0px 10px 25px 7px rgba(49, 121, 255, 0.05);
}

#chartContainer{
    height: 380px !important;
    width: 848px !important;
    margin: 0 auto;
}

.range-outer{
    width: 93%;
    margin: 0 auto;
}

.range-outer ul{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: flex-end!important;
}

.range-outer ul li{
    margin-left: 2%;
    cursor:pointer;
}

.range-buttons > .active{
    color: #007bff !important;
    
  }

.canvasjs-chart-credit{
    display: none !important;
}

.crypto-block{
    float: left;
    width: 15%;
    margin-left: 1%;
}

.crypto-block span{
    font-weight: bold;
}

.upper-stats{
    height: 100px;
    text-align: center;
    padding: 1em 0 1em 0;
}

.h4, h4 {
    font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.5;
}

.cryto-coin-title{
    width: 62% !important;
    margin: 0 auto;
}

.align-items-baseline {
    -ms-flex-align: baseline!important;
    align-items: baseline!important;
}

.taitle{
    margin-bottom: 5%;
}


.taitle h2{
  
  font-weight: 400;
   }
.currencysymbol{
font-size: 48%;
}